﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Produtos";
}
<h1>Produtos</h1>
<div class="row">
    <div class="col-xs-12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Código de barras</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3575</td>
                    <td>7898277711032</td>
                    <td>GUARÁ AÇÃO CÁPSULAS 500MG</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>